.example-button-row {
    display: table-cell;
    max-width: 600px;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }

  .border {
    border-right: 1px solid currentColor;
    padding: 10px;
  }

  .botones {
    background-color: dodgerblue;
    margin-right: 10px;
  }

  .margin-left {
    margin-left: 20px;
  }

  .margin20px{
    margin: 20px;
  }

  .marginBottom {
    margin-bottom: 10px;
  }

  .marginTop {
    margin-top: 10px;
  }

  .colorAzul{
    color:  dodgerblue;
  }

  .colorBlanco{
    color:  white;
  }

  .headers{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }