.toolbar-item-spacer {
    flex: 1 1 auto;
}

.app-container {
    height: 90%;
    margin: 0;
}  
.app-sidenav {
    width: 230px;
}
.app-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
} 

.logo{
    background-image: url(../assets/imagenes/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 160px;
    height: 54px;
}