<div>
    <h2>Create New Client</h2>
    <hr>
    <div class="marginBoton10">
        <div class="label">
            <span>name</span>
        </div>
        <div class="displayInlineBlock width80">
            <input class="width80" matInput  [(ngModel)]="nombre">
        </div>
    </div>
    <div class="marginBoton10">
        <div class="label">
            <span>phone</span>
        </div>
        <div class="displayInlineBlock width80">
            <input class="width80" matInput  [(ngModel)]="telefono">
        </div>
    </div>
    <div class="marginBoton10">
        <div class="label">
            <span>E-mail</span>
        </div>
        <div class="displayInlineBlock width80">
            <input class="width80" matInput  [(ngModel)]="correo">
        </div>
    </div>
    <div class="marginBoton10">
        <div class="label">
            <span>Start date</span>
        </div>
        <div class="displayInlineBlock width80">
            <input class="width80" type="date" matInput  [(ngModel)]="fechaInicio">
        </div>
    </div>
    <div class="marginBoton10">
        <div class="label">
            <span>End date</span>
        </div>
        <div class="displayInlineBlock width80">
            <input class="width80" type="date" matInput [(ngModel)]="fechaFin">
        </div>
    </div>
    <div>
        <div class="displayInlineBlock alinearBoton">
            <button type="button" class="butonOK" mat-raised-button (click)="guardarCliente()">OK</button>
        </div>
    </div>

</div>